



    

    

    

    

    

    

    

    

    

    

    

    
        
        
    
    
    








    
  	
    

    
  	
    

    
  	
    
        
                
        
        
            
            
    	

    	
            
            
            
    	

    

    
  	
    



<!DOCTYPE html>
<html ng-app="quiz" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">
    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/quiz.css" media="all">
    <!--    <link rel="stylesheet" href="/css/style2.css" media="all">-->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Average+Sans' rel='stylesheet' type='text/css'>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>





    <header role="banner" class="navbar navbar-default bs-docs-nav no-bg no-border">

        <div class="navbar-header">
            <button data-target=".bs-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand no-deco" href="/">Java Brains</a>
        </div>
        <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
            <ul class="nav navbar-nav navbar-left">

                <li><a href="/courses.html">Courses</a>
                </li>
                <li><a href="/javaee.html"><em>Java EE</em></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/blog.html">Blog</a>
                </li>
                <li>
                    <a href="/about.html">About</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Connect <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://www.facebook.com/javabrains">Facebook</a>
                        </li>
                        <li><a href="https://plus.google.com/101241060481722039118/posts">Google Plus</a>
                        </li>
                        <li><a href="http://twitter.com/Java_Brains">Twitter</a>
                        </li>
                        <li><a href="http://www.linkedin.com/in/koushiksrinivas">Linked In</a>
                        </li>
                        <li><a href="http://www.youtube.com/koushks">Youtube</a>
                        </li>
                        <li><a href="https://groups.google.com/d/forum/java-brains-group">Google Groups</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

    </header>

    

    <div class="container-fluid page" ng-init="initData('/data/jax-rs/jax-rs-02.json')" ng-controller="QuizController as quizCtrl">
        <div class="row page-row">

            <div class="left col-md-6 pad">
                <article>
                    <!-- Top headers -->
                    <p class="heading dotted-underline">Exercise</p>
                    <h1 class="title pad">
                        <span class="sub-heading red">{( data.tutorialNum )}.</span> {( data.tutorial )}
                    </h1>
                    <p class="regular-prose pad">{( data.objective )}</p>
                    <div class="container pad">
                        <ol class="question-indicators">
                            <li ng-class="{'completed': isQuestionComplete($index), 'current': $index == qIndex}"
                                ng-click="moveToQuestion($index)"
                                ng-repeat="a in range(data.questions.length) track by $index"></li>

                        </ol>
                    </div>

                    <!-- Current question -->
                    <div class="question-container pad">
                        <div ng-repeat="a in range(data.questions.length) track by $index"
                             ng-class="{'question-current pad green-border fadein fadeout' : isQuestionComplete($index),
                                        'question-current pad gray-border fadein fadeout'   : !isQuestionComplete($index)}"
                             ng-show="$index==qIndex">
                            <span ng-if="isQuestionComplete($index)" class="fa fa-check-square-o fa-5x green zoomin pull-right"></span>
                            <p ng-class="{'objective-current green underline' : isQuestionComplete($index),
                                          'objective-current red underline'   : !isQuestionComplete($index)}">
                                Exercise {($index + 1 )}
                            </p>
                            <p class="small-prose" ng-bind-html="data.questions[$index].question"></p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="right col-md-6">
                <div ng-if="isCodingQuestion(currentQuestion)">
                    <ul class="nav nav-tabs">
                        <li ng-repeat="file in currentQuestion.files" ng-class="{active: isCurrentWindow($index)}">
                            <a href="#" ng-click="setWindow($index)">
                                <span ng-show="file.isLocked" class="fa fa-lock"></span>&nbsp; {(file.fileName)}
                            </a>
                        </li>
                    </ul>

                    <div ui-ace="{
                          useWrapMode : false,
                          showGutter: true,
                          showPrintMargin: false,
                          theme:'idle_fingers',
                          mode: '{(getMode(file))}',
                          onChange: aceChanged() }"
                         ng-repeat="file in currentQuestion.files"
                         ng-show="isCurrentWindow({($index)})"
                         readonly="{(file.isLocked)}"
                         ng-model="file.codeStarter"
                         class="code-editor">
                    </div>

                </div>

                <div ng-if="!isCodingQuestion(currentQuestion)" class="container quiz-form">
                    <div class="container">
                        <div class="row" style="margin-top: 20px">
                            <div class="col-md-offset-2 col-md-10 col-lg-offset-3 col-lg-8">
                                <div class="col-sm-12 quiz-current pad">
                                    <div class="container-fluid text-left" style="margin-bottom: 20px;">
                                        <h1>Question</h1>
                                    </div>
                                    <figure class="pull-right">
                                        <i class="fa fa-question-circle red" style="font-size: 7em;margin:-70px -10px 0 10px;"></i>
                                    </figure>
                                    <p class="question" ng-bind-html="currentQuestion.details"></p>
                                    <input ng-if="currentQuestion.type === 'text'" type="text" class="form-control input-lg" ng-model="currentQuestion.userInput" ng-change="inputChanged()" placeholder="Type here">
                                    <div ng-if="currentQuestion.type === 'radio'" class="btn-group-vertical radio-quiz">
                                        <button ng-click="radioClicked(option)" ng-repeat="option in currentQuestion.options" type="button" class="btn btn-default btn-lg" style="margin:auto;">{(option)}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modals -->
        <div id="youtubeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header no-border">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/mKjvKPlb1rA"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="slidesModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header no-border">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/mKjvKPlb1rA"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom no-bg no-border" role="navigation">
        <div class="container">

            <a href="/tutorials/javaee_jaxrs/rest-and-http.html" type="button" class="btn btn-default ">
                <span class="fa fa-arrow-left"></span> &nbsp; Back
            </a>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#youtubeModal">
                <span class="fa fa-video-camera"></span> &nbsp; Video
            </button>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#slidesModal">
                <span class="fa fa-file-pdf-o"></span> &nbsp; Slides
            </button>
            <a href="/tutorials/javaee_jaxrs/course-in-progress.html" type="button" class="btn btn-default pull-right">
                <span class="fa fa-arrow-right"></span> &nbsp; Continue
            </a>
        </div>
    </nav>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- compiled and minified Bootstrap JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="http://cdn.jsdelivr.net/ace/1.1.3/min/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular-sanitize.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular-animate.js"></script>
    <script src="/js/quiz.js"></script>
    <script src="/js/strip-comments.js"></script>
    <script src="/js/ui-ace.js"></script>

</body>

</html>




