$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";


// Variables
@import "_theme.scss";
$MQs: true;



// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

// Fonts
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
@import url(http://fonts.googleapis.com/css?family=PT+Mono);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,600,700);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
// Fonts


// Mixins
@import "mixins/_responsive.scss";
// Mixins

// Imports
@import "_global-styles.scss";
@import "_homepage.scss";
@import "_tutorial.scss";
@import "_global-menu.scss";

// Util imports
@import "utils/_overlay.scss";
@import "utils/_buttons.scss";
@import "utils/_links.scss";
@import "utils/_icons.scss";
@import "utils/_prevnext.scss";


.mono-font {
    font-family: $font-family-monospace;
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}



.pad {
    padding: 10px;
}




/* Space out content a bit */
body {
  padding-top: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}



.hand-pointer {
    cursor: pointer;
    cursor: hand;
}


